.cta {

    .form-input {
        border-color: transparent;
        border-radius: 2px;
    }
}

.cta-inner {
	padding-left: 16px;
	padding-right: 16px;
    background-color: #ff5f7a;/* get-color(primary, 3); */
	background-image: url(../../../images/cta-illustration.svg);
	background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
    border-radius: 15px;
    margin-bottom: 20px;
}

@include media( '>medium' ) {

.cta {

    .form-input {
        min-width: 280px;
    }
}

	.cta-inner {
		padding-left: 48px;
		padding-right: 48px;
	}
}
